body {
    background-image: url("./img/bg.jpg"); 
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#insertedCoins {
    width: 50px;
}

#record {
    height: 150px;
    overflow: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    padding-right: 10px;
    width: 100px;
}

.transparent {
    margin: auto;
    width: 400px;
    height: 750px;
    background: rgba(76, 175, 80, 0.6);
}